node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out/*
!out/cache-principle.mp4

# Ignore generated TTS audio files
public/**/*.mp3
.superpowers/
